.idea
__pycache__
.pytest_cache
.ruff_cache

env
.env
venv
.venv
.coverage
.cz.msg
.vscode
~$*
*.tmp

notebooks
htmlcov
coverage_annotate
!dev/notebooks
docs/build
dist
.DS_Store
code_sample.py

settings.local.json
